<div class="d-flex align-items-center justify-content-between bg" style="margin-bottom: 5px;">
  <h1 style="color: rgb(15, 5, 110);">Resto App</h1>
  <div class="d-flex flex-row">
    <a class="nav-link nav-b" routerLink="comanda" style="padding: 5px; margin: 5px; text-decoration: underline;">Comanda</a>
    <a class="nav-link nav-b" routerLink="mesas" style="padding: 5px; margin: 5px; text-decoration: underline;">Mesas</a>
    <a class="nav-link nav-b" routerLink="platos" style="padding: 5px; margin: 5px; text-decoration: underline;">Platos</a>
    <a class="nav-link nav-b" routerLink="caja" style="padding: 5px; margin: 5px; text-decoration: underline;">Caja</a>
  </div>
</div>
<router-outlet></router-outlet>
